.container{
    width: 800px;
    margin: 50px auto 0;

}
* {
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-form{
    width: 350px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    position: absolute;

}

.login-form p {
    font-size: 4px;
    margin: 15px, 0;


}

.login-form input {
    font-size: 12px;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    

}

.login-form button{
   font-size: 12px;
   font-weight: bold;
   margin: 20px 0;
   padding: 10px 15px;
   width: 50%;
   border-radius: 5px;


}

body{
    font-size: 18px;
    background-color: #141414;
    color: #ffffff;

}

.wrapper{
    padding: 30px 30px 300px;
}


.columns{
    display: flex;
}
.col{
    margin: 0 15px 30px;
    background-color:rgb(255,255,255,0.12);
    padding: 20px;
    border-radius: 6px;

}

.footer{
    background-color: #24262b ;
    padding: 70px 0;

}

.footer-col{
width: 25px; ;
padding: 15px 0 ;
}

.footer-col h4{
    font-size: 22px;
    color:#ffffff;


}